[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/sierrajulietromeo/N12_plane_spotter/blob/master/N15_Plane_Tracker.ipynb)

# N12 Plane Tracker

I'm using a Raspberry Pi Zero W and a USB TV Tuner to pick up planes flying close to my house. Living in North London we are on the approach for Heathrow and I wanted to collect this data and do things with it.

In [1]:
    
!pip install fiona

Collecting fiona
  Downloading https://files.pythonhosted.org/packages/e3/bf/029958f4e3811ce7017fb5805d5203e8bde6c1816b902964acb2dec67863/Fiona-1.7.13-cp36-cp36m-manylinux1_x86_64.whl (15.8MB)
    100% |████████████████████████████████| 15.8MB 1.6MB/s
Collecting click-plugins (from fiona)
  Downloading https://files.pythonhosted.org/packages/95/dd/fef84cf1678418f241ef542c0288bdf215bdd3e35f1fe03dc5223a2e80ba/click_plugins-1.0.4-py2.py3-none-any.whl
Collecting munch (from fiona)
  Downloading https://files.pythonhosted.org/packages/68/f4/260ec98ea840757a0da09e0ed8135333d59b8dfebe9752a365b04857660a/munch-2.3.2.tar.gz
Collecting cligj>=0.4 (from fiona)
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona) (1.11.0)
Collecting click>=3.0 (from click-plugins->fiona)
  Downloading https://files.pythonhosted.org/packages/fa/37/45185cb5abbc30d7257104c434fe0b07e5a195a6847506c074527aa599ec/Click-7.0-py2.py3-none-any.whl (81kB)
    100% |████████████████████████████████| 81kB 23.8MB/s
Building wheels for collected packages: munch
  Running setup.py bdist_wheel for munch ... - \ done
  Stored in directory: /root/.cache/pip/wheels/db/bf/bc/06a3e1bfe0ab27d2e720ceb3cff3159398d92644c0cec2c125
Successfully built munch
Installing collected packages: click, click-plugins, munch, cligj, fiona
Successfully installed click-7.0 click-plugins-1.0.4 cligj-0.5.0 fiona-1.7.13 munch-2.3.2

In [0]:
import pandas as pd
import numpy as np

In [43]:

df = pd.read_csv('Tab_Delimited_data.csv')

#df = pd.read_csv('AC_data_2019.csv')
df.head()

,Transponder,Messages,Flight,First Speed,Last Speed,Squawk,First Seen,First Latitude,First Longitude,First Altitude,Last Seen,Last Latitude,Last Longitude,Last Altitude,Low Dist,High Dist
0,\ta13091,156.0,N176MG,469.0,471.0,4735.0,2018-10-16 21:56:43 Tuesday,"51,572,478",-0.547791,45000.0,2018-10-16 22:03:48 Tuesday,"51,431,259",0.468329,45000,5.0,26.4
1,\t4ba9c9,318.0,THY4,491.0,481.0,5226.0,2018-10-16 22:29:28 Tuesday,"51,436,871",-0.80574,39000.0,2018-10-16 22:40:33 Tuesday,"51,289,352",0.819521,39000,13.3,41.9
2,\t40756e,209.0,EZY213D,464.0,460.0,1175.0,2018-10-16 20:47:59 Tuesday,"51,306,245","-1,165,771",39000.0,2018-10-16 20:59:10 Tuesday,"5,032,944",-0.35854,39025,41.1,77.0
3,\t40631d,46.0,EZY41VP,453.0,453.0,5342.0,2018-10-16 23:58:13 Tuesday,"51,081,631","-1,489,639",38025.0,2018-10-16 23:59:58 Tuesday,"51,207,834","-1,500,626",38000,55.0,58.4
4,\t4ca217,349.0,EIN4JR,435.0,430.0,5727.0,2018-10-16 21:52:18 Tuesday,"50,848,297",0.508118,38025.0,2018-10-16 22:08:53 Tuesday,"51,401,871",-0.992036,38000,25.9,52.4

In [44]:
len(df)  # Checking number of records in the dataframe

381

In [45]:
## Tidying up the data - definitely better ways to do it

df.Messages = pd.to_numeric(df.Messages, errors='coerce').fillna(0).astype(np.int64)   # convert messages to numeric, fill blanks with a ZERO then convert to integer
df["Last Altitude"] = pd.to_numeric(df["Last Altitude"], errors='coerce').fillna(0).astype(np.int64)   # convert messages to numeric, fill blanks with a ZERO then convert to integer
df["First Altitude"] = pd.to_numeric(df["First Altitude"], errors='coerce').fillna(0).astype(np.int64)   # convert messages to numeric, fill blanks with a ZERO then convert to integer
df["Squawk"] = pd.to_numeric(df["Squawk"], errors='coerce').fillna(0).astype(np.int64)   # convert messages to numeric, fill blanks with a ZERO then convert to integer
df["First Speed"] = pd.to_numeric(df["First Speed"], errors='coerce').fillna(0).astype(np.int64)   # convert messages to numeric, fill blanks with a ZERO then convert to integer
df["Last Speed"] = pd.to_numeric(df["Last Speed"], errors='coerce').fillna(0).astype(np.int64)   # convert messages to numeric, fill blanks with a ZERO then convert to integer
df["Low Dist"] = pd.to_numeric(df["Low Dist"], errors='coerce').fillna(0).astype(np.float)   # convert messages to numeric, fill blanks with a ZERO then convert to integer

df.head()

,Transponder,Messages,Flight,First Speed,Last Speed,Squawk,First Seen,First Latitude,First Longitude,First Altitude,Last Seen,Last Latitude,Last Longitude,Last Altitude,Low Dist,High Dist
0,\ta13091,156,N176MG,469,471,4735,2018-10-16 21:56:43 Tuesday,"51,572,478",-0.547791,45000,2018-10-16 22:03:48 Tuesday,"51,431,259",0.468329,45000,5.0,26.4
1,\t4ba9c9,318,THY4,491,481,5226,2018-10-16 22:29:28 Tuesday,"51,436,871",-0.80574,39000,2018-10-16 22:40:33 Tuesday,"51,289,352",0.819521,39000,13.3,41.9
2,\t40756e,209,EZY213D,464,460,1175,2018-10-16 20:47:59 Tuesday,"51,306,245","-1,165,771",39000,2018-10-16 20:59:10 Tuesday,"5,032,944",-0.35854,39025,41.1,77.0
3,\t40631d,46,EZY41VP,453,453,5342,2018-10-16 23:58:13 Tuesday,"51,081,631","-1,489,639",38025,2018-10-16 23:59:58 Tuesday,"51,207,834","-1,500,626",38000,55.0,58.4
4,\t4ca217,349,EIN4JR,435,430,5727,2018-10-16 21:52:18 Tuesday,"50,848,297",0.508118,38025,2018-10-16 22:08:53 Tuesday,"51,401,871",-0.992036,38000,25.9,52.4

In [36]:
print(list(df.columns))

['Transponder', 'Messages', 'Flight', 'First Speed', 'Last Speed', 'Squawk', 'First Seen', 'First Latitude', 'First Longitude', 'First Altitude', 'Last Seen', 'Last Latitude', 'Last Longitude', 'Last Altitude', 'Low Dist', 'High Dist']

In [55]:
# Create new dataframe based on DF of all the planes that I first detect between 5000 and 10000 ft high - 5000 might be a bit low
df2 = df[df['First Altitude'].between(5000, 10000, inclusive=True)]
#df2.head()
len(df2)

89

In [56]:
# Then refine that dataframe further to planes where last altitude detected was between 0-1000ft.   Now the dataset is of planes that overflew my house
df2 = df2[df2['Last Altitude'].between(0, 1000, inclusive=True)]
df2.head(20)
#len(df2)   # length of dataframe

,Transponder,Messages,Flight,First Speed,Last Speed,Squawk,First Seen,First Latitude,First Longitude,First Altitude,Last Seen,Last Latitude,Last Longitude,Last Altitude,Low Dist,High Dist
171,\t4010db,418,BAW607,254,129,2741,2018-10-16 20:14:07 Tuesday,"51,353,531",0.219578,10000,2018-10-16 20:27:10 Tuesday,"51,465,271",-0.309473,925,8.5,23.6
172,\t3c65c6,411,DLH922,242,153,2544,2018-10-16 20:30:09 Tuesday,"51,647,147",0.112762,10000,2018-10-16 20:42:34 Tuesday,"51,465,268",-0.356827,925,0.9,11.1
185,\t4baa8d,268,THY4SC,270,156,3254,2018-10-16 20:49:44 Tuesday,"51,507,523",0.207924,9250,2018-10-16 20:57:36 Tuesday,"51,465,221",-0.333252,900,8.5,15.6
187,\t4010da,311,BAW8TT,274,154,7441,2018-10-16 21:00:05 Tuesday,"51,310,501",-0.437597,9000,2018-10-16 21:08:46 Tuesday,"51,465,314",-0.293884,925,8.5,20.3
189,\t4ca63a,347,EIN7YA,266,145,7757,2018-10-16 20:14:09 Tuesday,"51,330,685",-0.418091,9000,2018-10-16 20:24:44 Tuesday,"51,465,268",-0.311432,925,8.5,18.8
195,\t400936,325,SHT7U,338,151,3453,2018-10-16 20:57:50 Tuesday,"51,665,817",-0.373981,8825,2018-10-16 21:07:14 Tuesday,"51,465,268",-0.334549,850,0.3,10.3
196,\taad5ca,374,AAL142,297,151,7641,2018-10-16 20:22:52 Tuesday,"51,324,509",-0.405158,8725,2018-10-16 20:35:15 Tuesday,"51,465,175",-0.30899,1000,8.5,18.9
206,\t400b00,350,SHT7A,323,143,1433,2018-10-16 21:41:28 Tuesday,"51,715,579",-0.509262,8000,2018-10-16 21:51:15 Tuesday,"51,465,175",-0.354996,825,1.5,13.9
207,\t406a02,228,BAW465,306,142,5330,2018-10-16 21:42:03 Tuesday,"51,313,293",-0.435519,8000,2018-10-16 21:49:01 Tuesday,"51,465,268",-0.315781,925,8.6,20.1
208,\t40061b,262,BAW663,241,145,3565,2018-10-16 21:08:30 Tuesday,"51,516,998",0.188698,8000,2018-10-16 21:17:49 Tuesday,"51,453,278",-0.291286,950,9.2,15.0
209,\t4cae8e,329,SAS1501,235,146,760,2018-10-16 20:14:33 Tuesday,"51,647,049",0.070001,8000,2018-10-16 20:25:58 Tuesday,"51,465,317",-0.289133,925,2.0,9.6
211,\t405a49,311,BAW349,227,146,6752,2018-10-16 20:14:08 Tuesday,"51,337,156",-0.009613,7975,2018-10-16 20:23:28 Tuesday,"51,465,225",-0.34451,925,8.5,17.4
215,\t405ee1,348,BAW83D,260,121,2030,2018-10-16 20:34:39 Tuesday,"51,703,988",-0.49408,7925,2018-10-16 20:45:10 Tuesday,"51,465,268",-0.3228,925,0.5,13.1
217,\t4ca640,203,EIN186,294,125,5416,2018-10-16 20:53:51 Tuesday,"51,671,722",-0.394469,7850,2018-10-16 21:01:48 Tuesday,"51,465,225",-0.337087,975,2.0,10.4
219,\t400938,183,BAW581,314,147,5742,2018-10-16 21:09:17 Tuesday,"51,432,868",-0.025635,7700,2018-10-16 21:15:52 Tuesday,"51,465,268",-0.322647,1000,8.5,11.9
230,\t495283,302,TAP358M,291,126,7462,2018-10-16 22:00:16 Tuesday,"51,312,836",-0.418668,7100,2018-10-16 22:08:50 Tuesday,"51,477,977",-0.340195,925,7.7,19.8
232,\t406a3e,257,BAW19LX,238,149,3507,2018-10-16 20:14:08 Tuesday,"51,615,417",-0.19471,6975,2018-10-16 20:22:20 Tuesday,"51,465,271",-0.313185,925,0.4,9.9
251,\t400a0e,265,BAW8KK,255,132,504,2018-10-16 21:18:03 Tuesday,"5,151,317",0.189133,5900,2018-10-16 21:25:28 Tuesday,"51,465,271",-0.322835,950,8.5,14.8

In [58]:
## Shows planes that fly over, but not necessarily planes landing at LHR
df2 = df2[df2['Low Dist'].between(0.1, 5, inclusive=True)]
df2.head(20)
#len(df2)

,Transponder,Messages,Flight,First Speed,Last Speed,Squawk,First Seen,First Latitude,First Longitude,First Altitude,Last Seen,Last Latitude,Last Longitude,Last Altitude,Low Dist,High Dist
172,\t3c65c6,411,DLH922,242,153,2544,2018-10-16 20:30:09 Tuesday,"51,647,147",0.112762,10000,2018-10-16 20:42:34 Tuesday,"51,465,268",-0.356827,925,0.9,11.1
195,\t400936,325,SHT7U,338,151,3453,2018-10-16 20:57:50 Tuesday,"51,665,817",-0.373981,8825,2018-10-16 21:07:14 Tuesday,"51,465,268",-0.334549,850,0.3,10.3
206,\t400b00,350,SHT7A,323,143,1433,2018-10-16 21:41:28 Tuesday,"51,715,579",-0.509262,8000,2018-10-16 21:51:15 Tuesday,"51,465,175",-0.354996,825,1.5,13.9
209,\t4cae8e,329,SAS1501,235,146,760,2018-10-16 20:14:33 Tuesday,"51,647,049",0.070001,8000,2018-10-16 20:25:58 Tuesday,"51,465,317",-0.289133,925,2.0,9.6
215,\t405ee1,348,BAW83D,260,121,2030,2018-10-16 20:34:39 Tuesday,"51,703,988",-0.49408,7925,2018-10-16 20:45:10 Tuesday,"51,465,268",-0.3228,925,0.5,13.1
217,\t4ca640,203,EIN186,294,125,5416,2018-10-16 20:53:51 Tuesday,"51,671,722",-0.394469,7850,2018-10-16 21:01:48 Tuesday,"51,465,225",-0.337087,975,2.0,10.4
232,\t406a3e,257,BAW19LX,238,149,3507,2018-10-16 20:14:08 Tuesday,"51,615,417",-0.19471,6975,2018-10-16 20:22:20 Tuesday,"51,465,271",-0.313185,925,0.4,9.9

In [50]:
## Shows planes that fly over, but not necessarily planes landing at LHR
df3 = df[df['Low Dist'].between(0.1, 3, inclusive=True)]
#df3.head(20)
len(df3)

54

In [11]:
import fiona
c = fiona.open('ne_10m_airports.shp', 'r')

OSError: ignored